@using ClinicalConundrums2019.Models
@model SpeakerModel

@{
    var s = Model;
    Layout = null;
}

<div class="pnl-portal frmProgramRequest">


    <div class="row">
        <div class="form-group form-group-sm col-sm-2">
            First Name:
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "errorMssg" })
        </div>

        <div class="form-group form-group-sm col-sm-2">
            Last Name:
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "errorMssg" })
        </div>

        <div class="form-group form-group-sm col-sm-2">
            Specialty:
            @Html.TextBoxFor(m => m.Specialty, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Specialty, "", new { @class = "errorMssg" })
        </div>


        <div class="form-group form-group-sm col-sm-2">
            Role:
            @Html.DropDownListFor(model => model.AssignedRole, new SelectList(new List<SelectListItem>
            {
                    new SelectListItem {Text = "Speaker", Value = "1"},
                    new SelectListItem {Text = "Moderator" , Value = "2"},
                    new SelectListItem {Text = "Both" , Value = "3"},
            }, "Value", "Text"), "Please select", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.AssignedRole, "", new { @class = new { @class = "errorMssg" } })
        </div>
    </div>


    <div class="row">
        <div class="form-group form-group-sm col-sm-2">
            Clinic Name:
            @Html.TextBoxFor(m => m.ClinicName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ClinicName, "", new { @class = "errorMssg" })
        </div>

        <div class="form-group form-group-sm col-sm-4">
            Address:
            @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Address, "", new { @class = "errorMssg" })
        </div>

        <div class="form-group form-group-sm col-sm-2">
            City:
            @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.City, "", new { @class = "errorMssg" })
        </div>

        <div class="form-group form-group-sm col-sm-2">
            Province:
            @Html.DropDownListFor(model => model.Province, new SelectList(new List<SelectListItem>
            {
                    new SelectListItem {Text = "Alberta", Value = "1"},
                    new SelectListItem {Text = "British Columbia" , Value = "2"},
                    new SelectListItem {Text = "Manitoba" , Value = "3"},
                    new SelectListItem {Text = "New Brunswick", Value = "4"},
                    new SelectListItem {Text = "Newfoundland and Labrador" , Value = "5"},
                    new SelectListItem {Text = "Nova Scotia" , Value = "6"},
                    new SelectListItem {Text = "Ontario", Value = "7"},
                    new SelectListItem {Text = "Prince Edward Island" , Value = "8"},
                    new SelectListItem {Text = "Quebec" , Value = "9"},
                    new SelectListItem {Text = "Saskatchewan" , Value = "10"}
            }, "Value", "Text"), "Please select a province", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Province, "", new { @class = new { @class = "errorMssg" } })
        </div>


        <div class="form-group form-group-sm col-sm-2">
            Postal Code:
            @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.PostalCode, "", new { @class = "errorMssg" })
        </div>
    </div>

    <div class="row">
        <div class="form-group form-group-sm col-sm-2">
            Phone:
            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "errorMssg" })
        </div>

        <div class="form-group form-group-sm col-sm-2">
            Fax:
            @Html.TextBoxFor(m => m.Fax, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Fax, "", new { @class = "errorMssg" })
        </div>

        <div class="form-group form-group-sm col-sm-2">
            Email:
            @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.EmailAddress, "", new { @class = "errorMssg" })
        </div>

        <div class="form-group form-group-sm col-sm-4">
            Comments:
            @Html.TextBoxFor(m => m.Comment, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Comment, "", new { @class = "errorMssg" })
        </div>
    </div>

</div>
